build
dist

# misc
.DS_Store
.env
!.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

todo.txt
out/*
!out/.gitkeep
*.key
*.crt

*.tfvars
.terraform.lock*
*.tfstate*
.terraform

*exe

repos/*
!repos/.gitkeep

database/sqlite/*
!database/sqlite/.gitkeep

out/*
!out/.gitkeep

json.json
out*.json

src/quality-check-repos/docker
jdeodorant-commandline
